{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
<div class="container my-5 p-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="text-center mb-4">
                <h2>{% trans "Sign Up" %}</h2>
                <p class="text-secondary">
                    {% blocktrans %}Create an account to get started. Once registered, you can log in and start using the features of the site. If you already have an account, you can <a class="link" href="{{ login_url }}">log in</a> instead.{% endblocktrans %}
                </p>
            </div>
            <form class="signup bg-light p-5 rounded shadow-lg" method="POST" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="d-grid gap-2 mt-3">
                    <button class="btn btn-primary btn-lg" type="submit">{% trans "Sign Up" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
