{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Our Menu</h1>
    <div class="row">
        <!-- Menu items will be displayed here -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sample Dish</h5>
                    <p class="card-text">A description of the sample dish.</p>
                    <p class="card-text"><strong>$9.99</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
